*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #0f172a;
  }
  .contaner{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
  }
  
  a{
    text-decoration: none; 
    color: #ffff;
  }
 
  
  h2{
    color: #ffff;
    font-size: medium;
    padding: 5px 10px;
    background-color: #16a34a;
  } 
  #html-head{
    background-color: #ea580c;
  }
  #css-head{
    background-color: #0284c7;
  }
  #js-head{
    background-color: #eab308;
  }
  

  .left{
    margin-left: 1vw;
  }
  .right{
    margin-right: 1vw;
  }
  textarea{
    width: 47vw;
    min-height: 25vh;
    overflow: auto;
    font-size: large;
    background-color: #1e293b; 
    border: 2px solid #6b7280;
    padding:  5px 0 0 15px;
    color: #cbd5e1;
  }
  iframe{
    width: 47vw;
    height: 87vh;
    overflow: auto;
    font-size: large;
    background-color: #ffff; 
    border: 2px solid #6b7280;
    padding: 5px 0 0 15px;
  }
  footer{
    text-align: center;
    color: #ffff;
    width: 100%;
    margin-top: 5px;
  }

  /* -----------scroll bar ------------------- */

  ::-webkit-scrollbar{
    width: 0;
  }
  