*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #111827;
  }
  .contaner{
    display: flex;
    justify-content: space-between;
  }
  
  h1{
    font-size: 3.5rem;
    letter-spacing: 3px;
    padding: 20px;
    color: #10b981;
    text-shadow: 0 0 2px #001905, 0 0 3px #cfcfcf;
    text-align: center;
    font-family: 'Monomaniac One', sans-serif;
    transition: font-size 2s;
  }
  h1:hover{
    font-size: 4rem;
  }
  a{
    text-decoration: none; 
    color: #ffff;
    transition: font-size 1s;
  }
  a:hover{
    font-size: large;
  }
  i{
    transition: font-size 1s;
  }
  i:hover{
    font-size: x-large;
  }
  h2{
    color: #ffff;
    background-color: #047857;
    font-size: medium;
    padding: 5px 10px;
  }  
  .left{
    margin-left: 1vw;
  }
  .right{
    margin-right: 1vw;
  }
  textarea{
    width: 47vw;
    min-height: 25vh;
    overflow: auto;
    font-size: large;
    background-color: #1f2937; 
    border: 2px solid #6b7280;
    padding:  5px 0 0 15px;
    color: #cbd5e1;
  }
  iframe{
    width: 47vw;
    height: 87vh;
    overflow: auto;
    font-size: large;
    background-color: #ffff; 
    border: 2px solid #6b7280;
    padding: 5px 0 0 15px;
  }
  footer{
    text-align: center;
    color: #ffff;
    width: 100%;
    background-color: #047857;
    padding: 1rem 0;
    margin-top: 5px;
    border-radius: 40px 40px 0 0;
  }